@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik-variablefont_wght-webfont.woff2") format("woff2"),
    url("../fonts/rubik-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "rubik";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
